<div class="container" id="bridge-form">
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Jig 1/3</th>
        <th>Project/Lot #</th>
        <th>Bridge Operator</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <autocomplete class="jig-autocomplete"
                        ng-model="bridgeFormCtrl.formData.jig"
                        click-activation="true"
                        data="bridgeFormCtrl.jigData">

          </autocomplete>
        </td>
        <td>
          <input type="text" id="projectLotValue" class="form-control" placeholder="Project/Lot"
                 ng-model="bridgeFormCtrl.formData.projectLot"/>
        </td>
        <td>
          <input type="text" id="bridgeOperator" ng-model="bridgeFormCtrl.formData.bridgeOperator"
                 placeholder="Bridge Operator" class="form-control"/>
        </td>
        <td id="startTimeCell">
          <button type="button" id="startTime" ng-disabled="!bridgeFormCtrl.startTimerOn"
                  class="btn btn-default btn-block"
                  ng-click="bridgeFormCtrl.startTimerBtn()">{{bridgeFormCtrl.formData.startTime}}
          </button>
        </td>
        <td id="endTimeCell">
          <button type="button" id="endTime" ng-disabled="!bridgeFormCtrl.endTimerOn"
                  class="btn btn-default btn-block"
                  ng-click="bridgeFormCtrl.endTimerBtn()">{{bridgeFormCtrl.formData.endTime}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>PANEL #</th>
        <th>Area</th>
        <th>PANEL #</th>
        <th>Area</th>
        <th>PANEL #</th>
        <th>Area</th>
      </tr>
      </thead>
      <tbody>
      <td>
        <autocomplete class="autocomplete"
                      ng-model="bridgeFormCtrl.formData.panelValue_1"
                      click-activation="true"
                      data="bridgeFormCtrl.panels">

        </autocomplete>
      </td>
      <td>
        <input type="number" placeholder="Area" class="form-control"  ng-model="bridgeFormCtrl.formData.area_1"
               id="area-1">
      </td>
      <td>
        <autocomplete class="autocomplete"
                      ng-model="bridgeFormCtrl.formData.panelValue_2"
                      click-activation="true"
                      data="bridgeFormCtrl.panels">

        </autocomplete>
      </td>
      <td>
        <input type="number" id="area-2" ng-model="bridgeFormCtrl.formData.area_2" placeholder="Area"
               class="form-control">
      </td>
      <td>
        <autocomplete class="autocomplete"
                      ng-model="bridgeFormCtrl.formData.panelValue_3"
                      click-activation="true"
                      data="bridgeFormCtrl.panels">

        </autocomplete>
      </td>
      <td>
        <input type="number" id="area-3" placeholder="Area" ng-model="bridgeFormCtrl.formData.area_3"
               class="form-control">
      </td>
      </tbody>
    </table>

  </div>
</div>
