<div class="container-flex" id="get-bridge-form">

  <div class="page-header row">
    <div class="col-xs-12">
      <h1>Bridge Form Data</h1>
    </div>
    <div class="col-xs-1 col-xs-offset-1">
      <button ui-sref="postForm" type="button" class="btn btn-default btn-block">
        Back
      </button>
    </div>


  </div>


  <div class="row search-area">
    <div class="col-xs-3 col-xs-offset-1">
      <div class="form-group multiple-search">
        <label for="multiple-search">Search Term</label>
        <input type="text" class="form-control" ng-model="getBridgeFormCtrl.searchTerm" placeholder="Find data"
               id="multiple-search">
      </div>

    </div>
    <div class="col-xs-3 col-xs-offset-1 from-to">
      <div class="form-group">
        <label for="date-search-from">From Date</label>
        <input type="date" class="form-control" ng-model="getBridgeFormCtrl.searchFrom" placeholder="From Date"
               id="date-search-from">
      </div>
    </div>
    <div class="col-xs-3 from-to">
      <div class="form-group">
        <label for="date-search-to">To Date</label>
        <input type="date" class="form-control" ng-model="getBridgeFormCtrl.searchTo" placeholder="To Date"
               id="date-search-to">
      </div>
    </div>
  </div>


  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>jig</th>
        <th>project lot</th>
        <th>panel 1</th>
        <th>area 1</th>
        <th>panel 2</th>
        <th>area 2</th>
        <th>panel 3</th>
        <th>area 3</th>
        <th>bridge operator</th>
        <th>start time</th>
        <th>end time</th>
        <th>date</th>
        <th>page num</th>
        <th>shift</th>
        <th>machine idol time</th>
      </tr>
      </thead>
      <tbody>
      <tr class="animate-repeat"
          ng-repeat="data in getBridgeFormCtrl.formData | fromToFilter:getBridgeFormCtrl.searchFrom:getBridgeFormCtrl.searchTo | filter:getBridgeFormCtrl.searchTerm">
        <td>{{data.id}}</td>
        <td>{{data.jig}}</td>
        <td>{{data.project_lot}}</td>
        <td>{{data.panel_1}}</td>
        <td>{{data.area_1}}</td>
        <td>{{data.panel_2}}</td>
        <td>{{data.area_2}}</td>
        <td>{{data.panel_3}}</td>
        <td>{{data.area_3}}</td>
        <td>{{data.birdgeOperator}}</td>
        <td>{{data.start_time}}</td>
        <td>{{data.end_time}}</td>
        <td>{{data.date}}</td>
        <td>{{data.pageNum}}</td>
        <td>{{data.shift}}</td>
        <td>{{data.idolTime}}</td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="page-header">
      <div class="col-xs-12">
        <h1>Summary</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Total number of panels</th>
        <th>Total area</th>
        <th>Total idol time</th>
      </tr>
      </thead>
      <tbody>
      <tr>>
        <td>{{getBridgeFormCtrl.totalPanels}}</td>
        <td>{{getBridgeFormCtrl.totalArea}}</td>
        <td>{{getBridgeFormCtrl.idolTimeSum}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

