#postBridgeForm {
  .page-header {
    margin-top: 20px;

    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

  }
  .form-1 {
    thead {
      background-color: #FFF0F0;
    }
  }
  .form-2 {
    thead {
      background-color: #D9E8FF;
    }
  }

  hr {
    border-top: 1px solid #000000;
  }
}